hr
div
  blockquote 以下内容来自
    code html/jade/foo.jade
  div(style="background:#00a86b")
    img(src="jade.png")
  h1 Jade - node template engine
  #container.col
    if youAreUsingJade
      p You are amazing
    else
      p Get on it!
    p.
      Jade is a terse and simple
      templating language with a
      strong focus on performance
      and powerful features.